*{
    box-sizing:border-box;
  }

html {
    height: 100%;
    background-color: #171717;
   padding: 0;
   margin: 0;
 }
 body{

    padding: 0;
    margin: 0;
   display:flex;
   justify-content: center;
   align-items: center;
   min-height: 100%;
    background-color: #171717;
 }
 img{

    padding: 0;
    margin: 0;
  
 }


   .x{
      padding: 0;
      margin: 0;
      width:100%;
      background-color: #171717;
   }



